body {
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#box {
    margin: 0 auto;
    display: flex;
    width: 90vw;
    justify-content: space-between;
}

#block {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20vw;
}

#container {
    height: 600px;
    width: 600px;
    border: solid black 5px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}
.square {
    background-color: white;
    border: solid black 1px;
}

.color {
    background-color: grey;
    border: solid black 1px;
}